:root{
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}

.light-theme{
    --bg:var(--green);
    --fontcolor: var(--black);
    --btnbg: var(--black);
    --btnfontcolor: var(--white);
}

.dark-theme{
    --bg:var(--black);
    --fontcolor: var(--green);
    --btnbg: var(--white);
    --btnfontcolor: var(--black);        
}

body{
    background: var(--bg);
    color: var(--fontcolor);
    font-family: helvetica;
}

ul{
    font-family: helvetica;
}

.btn {
    position:absolute;
    top: 20px;
    right: 5%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnfontcolor);
    background-color: var(--btnbg);
}